@model ListaSupermercado2.Models.Conta

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (@Html.BeginForm("Cadastrar", "Conta"))
{
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(c => c.Usuario)
            @Html.TextBoxFor(c => c.Usuario, new { @class = "form-control", placeholder = "Usuario" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(c => c.Senha)
            @Html.TextBoxFor(c => c.Senha, new { @class = "form-control", placeholder = "Senha" })
        </div>
    </div>
    <div>
        <input type="submit" value="Cadastrar" class="btn btn-success" />
    </div>
}