@model ListaSupermercado2.Models.Conta

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (@Html.BeginForm("Cadastrar", "Conta"))
{
    @MensagemHelper.Mensagem(TempData["msg"] as string, "success")
    @Html.ValidationSummary()
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(c => c.Usuario)
            @Html.TextBoxFor(c => c.Usuario, new { @class = "form-control", placeholder = "Usuario" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(c => c.Senha)
            @Html.PasswordFor(c => c.Senha, new { @class = "form-control", placeholder = "Senha" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="Password2">Confirmar Senha</label>
            <input type="password" name="Password2" id="Password2" class="form-control" placeholder="Confirmar Senha" />
        </div>
    </div>

    <div>
        <input type="submit" value="Cadastrar" class="btn btn-success" />
        @Html.ActionLink("Logar", "Logar", "Conta", new { @class="btn btn-info" })
    </div>
}