@model ListaSupermercado2.Models.Conta

@{
    ViewBag.Title = "Logar";
}

<h2>Logar</h2>

@using (@Html.BeginForm("Logar", "Conta"))
{
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(c => c.Usuario)
            @Html.TextBoxFor(c => c.Usuario, new { @class = "form-control", placeholder = "Usuario" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(c => c.Senha)
            @Html.TextBoxFor(c => c.Senha, new { @class = "form-control", placeholder = "Senha" })
        </div>
    </div>

    <div>
        <input type="submit" value="Logar" class="btn btn-success" />
        @Html.ActionLink("Cadastrar", "Cadastrar", "Conta")
    </div>
}