@model ListaSupermercado2.Models.Lista

@{
    ViewBag.Title = "Editar";
}

<h2>Cadastrar</h2>

@using (@Html.BeginForm("Editar", "Lista"))
{
    @Html.ValidationSummary()
    <input type="hidden" value="@ViewBag.ContaId" name="ContaId" />

    @Html.HiddenFor(p => p.ListaId)
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Nome)
            @Html.TextBoxFor(p => p.Nome, new { @class = "form-control", placeholder = "Produto" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Quantidade)
            @Html.TextBoxFor(p => p.Quantidade, new { @class = "form-control", placeholder = "Quantidade" })
        </div>
    </div>

    <div>
        <input type="submit" value="Editar" class="btn btn-success" />
    </div>
}